<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>Ouch!</title>
    </head>
    <body>
        <h1><i>{{ status_code }} {{ status_text }}</i></h1>
        <p>
            Bad Chewie!
        </p>
    </body>
</html>
