<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}User{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <hr />
        <h2>The Naked Bundle - User</h2>
        <hr />
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
